
.accessories-container{
    width:99%;
    height:60vh;
    background-color: aqua;
    margin-left: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: white;
}


  .card1 {
     background-color: #F8F8FB; 
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;                                                                                                    
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 12vw;
    height: 20vh;
    transition: transform 0.3s ease, 
    box-shadow 0.3s ease; 
  } 
   
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .icon {
    font-size: 50px;
    margin-bottom: 10px;
    color: #af4261; 
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }


/* @media(min-width:769px) and (max-width:1200px)
{
.accessories-container{
   background-color: #af4261;
   height:80vh;
 }
} */

@media(min-width:771px) and (max-width:1008px)
{
.accessories-container{
   /* background-color: #af4261; */
   width:100vw;
   height:60vh;
   margin-left: -14vw;
 }
 .card1 {
    background-color: #F8F8FB; 
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;                                                                                                    
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 14vw;
   height: 20vh;
   transition: transform 0.3s ease, 
   box-shadow 0.3s ease; 
 } 
}

@media(min-width:480px) and (max-width:770px)
{
.accessories-container{
   /* background-color: #af4261; */
   width:94vw;
   height: 100vh;
   margin-left: -12vw;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-top: 740px;
   /* margin-top: 100px; */
 }
 .card1 {
    background-color: #F8F8FB;  
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;                                                                                                    
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 18vw;
   height: 20vh;
   transition: transform 0.3s ease, 
   box-shadow 0.3s ease; 
 } 


}

@media (max-width : 480px) {
    .accessories-container{
        /* background-color: #af4261; */
        width:100vw;
        height: 200vh;
        margin-left: -12vw;
        display: flex;
        flex-direction: column;
        gap:10px;
        margin-top: 320px;
      }
      .card1 {
        background-color: #F8F8FB; 
        width: 90vw;
       height: 10vh;
       display: flex;
       flex-direction: row;
       justify-content: start;
       gap:6px;
       /* fl */
       /* flex-direction: column;
       justify-content: center;
       align-items: center;                                                                                                     */
       border-radius: 15px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
       transition: transform 0.3s ease, 
       box-shadow 0.3s ease; 
     } 
     .card:hover {
         transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
      
      .icon {
        font-size: 30px;
        margin-bottom: 10px;
        color: #af4261; 
        padding:1rem;
      }
      
      .title {
        font-size: 16px;
        font-weight: bold;
        color: #333;
      }
    
}



  